.Profile-style{
    line-height: 26px;
    text-align: center;
    padding: 10px 0px;
}
.profileHeader{

}
.describtion{
    font-weight: normal;
    font-size: small;
}
.otherInfo{
    padding: 0px 23px;
    text-align: justify;
    font-size: 14px;
}
.span-color{
    color: blue;
    float: right;
}