.post-feed {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.post-feed form {
  display: flex;
  flex-grow: 1;
  padding-left: 10px;
}
.post-feed form input {
  display: flex;
  width: -webkit-fill-available;
  border-radius: 10px;
  border: 1px solid;
}

.otherpost-feed {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
span{
  font-weight: normal;
  font-size: small;
}

/* notification */
.add-cart{
  padding: 10px;
}
.addto-feed{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.notifiaction-item{
  line-height: 20px;
  padding: 0px 40px 0 20px;
  display: flex;
  flex-direction: column;
}
.notifiaction-item Button{
  width: fit-content;
}


/* post item */

.post-items{
 
  min-height: 100vh;
  background-color: #ebeae8;
}
@media (min-width: 668px){
.feed-item-style {
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    height: -moz-fit-content;
    height: fit-content;
}
}

.feed-item-style{
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  height: -moz-fit-content;
  height: fit-content;
}