.post-body{
    padding: 10px;
   display: flex;
   justify-content: left; 
}
.name-para{
    padding-left: 10px;
}
.name-para p{
  font-size: small;
}
.name-para h2{
    font-weight: bold;
}

.post-paragraph{
    padding: 10px 20px;
}

@media (min-width: 668px){
    .post-image{
        width: 100%;
    }
}
 .post-image{
    width: 100%;
}
.post-image img{
    width: inherit;
    height: 287px;
   
}
.reaction{
    display: flex;
    justify-content: left;
}