.welcome-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 40px;
}

Button a {
  text-decoration: none;
  color: black;
}
Button {
  
  border-radius: 10px !important;
}
.welcome-text {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.welcome-text h1 {
  display: flex;
  margin: 100px 0px 40px 0px;
  font-size: 36px;
  text-align: justify;
  padding: 0px 110px;
  font-weight: normal;
  color: #2977c9;
}
.welcome-text img {
  height: 200px;
  width: auto;
}
@media screen and (min-width: 600px) {
  .welcome-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .welcome-text h1{
    margin: 0;
    padding: 50px 0px 0px 44px;
    width: 470px;
    font-size: 56px;
    color: #2977c9;
  }
  .welcome-text img{
      width: 400px;
      height: 450px;
  }
}
/* sign up */

.image1{
    margin-top: 20px;
    text-align: center;
}
.signup-header{
  padding-bottom: 20px;
    text-align: center;
    font-size: 35px;
    font-weight: normal;
    padding-top: 40px;
}
.form-validation{
    padding: 0px 100px;
    
}
.form-validation form{
    line-height: 50px;
}
@media screen and (min-width: 600px) {
    .form-validation{
        display: flex; 
       
        padding: 0;
        display: flex;
        justify-content: center;      
    }
}
/* sign in */
.sign-in{
    display: flex;
    justify-content: center;
   
    margin: 50px 5vh;
}

.sign-in form{
    margin-top: 50px 30px;
    padding:  20px;
    box-shadow: 0px 0px 5px rgba(71, 71, 71, 0.52);
   line-height: 60px;
   border-radius: 5px;
}
.header-part{
  
 
    line-height: 30px;
    padding-bottom: 20px;
}
.header-part h1{
    font-size: 30px;
}
.header-part p{
   font-weight: normal;
   font-size: small;
}