.Homepage-style {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ebeae8;
}

@media (min-width: 668px) {
  .Homepage-style {
    background-color: #ebeae8;
    display: grid;
    grid-template-columns: .5fr 1fr .7fr;
    padding: 90px 35px;
  }
}
/* header part */
.header-part {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 60px;
  
}

.search-bar, .try-free, .app-icon, .message-icon {
  display: none !important;
}

@media (min-width: 668px) {
  .header-part {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0px;
    background-color: #fff;
  }
  .app-icon, .try-free, .search-bar{
    display: block !important;
  }

  
  .second-part{
    display: flex;
    align-items: center;
  }
  .search-bar{
    background-color: aliceblue;
    border-radius: 10px;
  }
}

.try-free{
  display: none;
}

/* mobile header */



/* body part */

@media (min-width: 668px) {
  .layout-style {
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    height: fit-content;
   
  }


  .image{
    background-image: url('https://napervillerecovery.files.wordpress.com/2019/05/sunset-dawn-nature.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
    border-radius: 5px 5px 0 0;
    text-align: center;
   height: 80px;
  }
  .avator{
    display: flex;
    justify-content: center;
    position: relative;
    top: -32px;
  }
  

}


/* mobile */
@media (max-width: 668px) {
.layout-style{

  margin: 70px 10px;
  background-color: #fff;
  border-radius: 5px;
  height: fit-content;
 
  
 
}
}
.image{
  background-image: url('https://napervillerecovery.files.wordpress.com/2019/05/sunset-dawn-nature.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0px;
  border-radius: 5px 5px 0 0;
  text-align: center;
 height: 100px;
}
.avator{
  display: flex;
  justify-content: center;
  position: relative;
  top: -32px;
}


