* {
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
body,
html {
  background-color: #fff;
  box-sizing: border-box;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
header,
i,
label,
nav,
p,
li,

ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  font-weight: normal;
}
